<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      <img src="./fx.png" alt="Bulma logo">
    </a>
  </div>

  <div class="nav-center">
   <div class="nav-item">Exploring Engineering</div>
  </div>

  <span class="nav-toggle" @click="toggleNav">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu" :class="{ 'is-active': toggle }">
    <a class="nav-item" v-link="{ path: '/', exact: true, activeClass: 'is-active' }">
      Home
    </a>
    <a class="nav-item" v-link="{ path: '/about', exact: true, activeClass: 'is-active' }">
      About
    </a>

  </div>
</nav>